[submodule "gmod-module-base"]
	path = gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base.git
	branch = development
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
